@charset "UTF-8";
body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}

/* ハンバーガーメニュー非表示 */
.gMenu .menuBtn { display: none; }
.tpContainer {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}
.tpHeaderContainer {
    width: 100%;
    height: 768px;
    background: url(../images/tpHeroTaipei.jpg) no-repeat right center/cover;
    background-color: #ffffff;
}
.tpHeaderContentWrap {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* border: 4px solid red; */
    position: relative;
    padding: 20px;
}
.tpSnsWrap {
    flex-direction: column;
    display: flex;
    gap: 40px;
    position: absolute;
    bottom: 20px;
}

.snsLogo {
    width: 32px;
    height: auto;
}
.tpCatchphrase {
    max-width: 467px;
    color: #ffffff;
    position: absolute;
    bottom: 20PX;
    right: 20px;
    font-size: 20px;
    font-weight: 700px;
}
.tpMainlogo {
   width: 100%;
    max-width: 300px;
    height: 540px;
    position: absolute;
    top: 46%;
    left: 36%;
    transform: translate(-50%, -48%);
}
.tpHeaderlogo {
    width: 133px;
    height: auto;
}
.tpLogoNavWrap {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}
.tpLogoNavWrap ul li a {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}
.tpLogoNavWrap nav ul li a :hover {
    text-decoration: underline;
    color: #03A9F4;
}
.menu {
    display: flex;
    gap: 20px;
}
nav input[type="checkbox"] {
    display: none;
}
/* パンくずリスト */
.pann {
    width: 100%;
    margin: 0 auto;
}
.pann li + li::before {
  content: ">Travel>";
}
.pannWrap {
    max-width: 1200px;
    width: 100%;
    margin: 1.25rem auto;
    padding-left: 1.25rem;
}
.pann ul {
    display: flex;
}
section#tpAttraction {
    border-top: 1px solid #000;
}

/* Attractionエリア */
/* 見出し装飾フレーム */
  /* ↓追加すると後の見出しフレームをmargin-left:auto;などで位置調整可能 */
  /* display: block;
  width: fit-content;   コンテンツ幅にwidthがきまる*/
.sectionTitle{
  display: inline-block;
  padding: 10px 72px 20px;
  background: url("../images/tpHeadingframe.png") no-repeat left bottom;
  background-size: 100% auto;
  width: 530px;
  text-align: center;
  white-space: nowrap;
}
h2.sectionTitle{
    font-size: 48px;
    font-weight: 400;
    line-height: 1;
    white-space: nowrap;
}
h2 .sectionSubTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    margin-left: 1rem;
}
.tpH3 {
    font-size: 24px;
    margin-top: 5rem;
    font-weight: 700;
}
/* Attraction&Nightmarketのコンテンツ幅やつ */
.tpAttractionInnerWrap,
.tpNightmarketInnerWrap,
.tpAccessInnerWrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25rem 1.25rem 5rem;
    /* border: solid 4px red; */
}
.tpNightmarketInnerWrap {
    padding-left: 3.75rem;
}

/* グリッド */
/* 上の方 */
.tpJifenMainWrap {
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  gap: 4rem;
  margin-top: 1rem;
}
/* 下の方 */
.tpJifenSubWrap {
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  gap: 4rem;
  margin-top: 2rem;
}
/* 画像２こを包んでるdivやつ */
.tpJifenSubimageWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 167px;
  gap: 1rem;
}

.tpJifenMainWrap img {
    width: 100%;
    height: 100%;
}
/* ↓よくわからんやつ */
.imageArea {
  width: 600px; 
  height: 360px; 
  overflow: hidden;
}
.tpJifenMainWrap img {
    object-fit:cover;
    object-position: center;
}
.tpJifenSubimageWrap img,
.tpMarketImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 5 / 3; 
}
.imageDivFirst,
.imageDivSecond {
    width: 290px;
    height: 167px;
}

/* サブ画像１の切り取り位置調整 */
.tpJifenSubimageFirst {
    object-position: 50% 20%;
}
.tpJifenSubimageSecond {
    object-position: 50% 50%;
}
/* 上のテキストやつ */
.tpJifenMainWrap p {
    background-color: rgba(108, 186, 216, 0.2);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}
/* 下のテキストやつ */
.tpJifenSubtextWrap {
    width: 100%;

    background-color: rgba(108, 186, 216, 0.2);
    margin: 0 auto;
    padding: 2rem;
}
.tpJifenSubWrap p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
}
.tpJifenSubInfo {
    margin: 0 auto;
    white-space: nowrap;
}
.tpJifenSubtextWrap .tpJifenSubtextTime {
    font-weight: 700;
    margin: 2.5rem auto 0;
}
/* センターライン */
 /* 九份,台北ライン */
.tpJifenContentWrap::after,
.tpTaipei101ContentWrap::after
 {
  content: "";
  display: block;
  height: 1px;
  background: #000000;
  width: clamp(200px, 40%, 480px);
  margin: 5rem auto 0;
  padding-top: 1px;
}

.line {
  display: block;
  height: 1px;
  background: #000000;
  width: clamp(200px, 40%, 480px);
  margin: 5rem auto 0;
}

/* ナイトマーケットエリア */
/* 見出しを右に */
.tpNightmarketHeading{
  display: block;
  width: fit-content; /*←中身のコンテンツ幅にブロック幅を指定*/
  margin-left: auto;
}
/* 夜市のレイアウト系 */
/* 上側 */
.tpNightmarketWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-top: 5rem;
}
/* テキストエリア */
.nightmarketTextArea {
  width: 87%;
  max-width: 420px;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  padding: 2rem 0;
}
/* 夜市メイン画像つつむdivやつ */
.tpMarketImageKushi {
    width: 540px;
    height: 264px;
    margin: 0 auto;
}
/* 夜市メイン画像1 */
.tpNightmarketimagefirst {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 2 / 1;
}
/* テキスト */
p.tpNightmarketInfo {
  max-width: 420px;
  max-height: 264px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  line-break: strict;
  word-break: break-word;
  overflow-wrap: break-word;
}
/* 4つのフレームを 2×2 で配置 */
.tpMarketList {
  display: grid;
  width: 460px;
  height: 220px;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  /* grid-template-rows: repeat(2, 90px); */
}

.tpNightmarketBtn  {
  width: 100%;
  height: 90px;
  background: url("../images/tpButtonframe.png")no-repeat center/contain;
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

/* 右側画像*/
.tpMarketImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tpMarketImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* アクセスエリア */
.tpAccessInfo {
    font-size: 24px;
    width: fit-content;
    line-height: 1;
    font-weight: 400;
    margin: 5rem auto 0;
    padding:  0 1.125rem 0rem;
    /* border-bottom: 1px solid #000000; */
    white-space: nowrap;
}
.movingWrap {
    max-width: 44.16%;
    width: 100%;
}
.tpAccessInfo::after {
    content: "";
    display: block;
    width: 109.37%;
    position: relative;
    left: -20px;
    height: 1px;
  background: #000000;
  margin-top: 2.5rem;
}
/* アクセスメイン画像 */
.tpAccessMainImage {
    width: 100%;
    max-height: 336px;
    object-fit: cover;
    margin-top: 5rem;
}
/* カードUI系 */
.tpAccessCardWrap {
    max-width: 1040px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.25rem;
    margin: 80px auto 0;
    text-align: center;
}
dl.tpAccessCard {
    padding: 3rem;
}
.tpAccessCardWrap dt {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}
.tpAccessCardWrap span {
    font-weight: 400;
}
.tpAccessCardWrap dd {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 2rem;
    text-align-last: left;
    word-break: break-word;
    overflow-wrap: break-word;
}
.tpYuyuCardImage {
    display: block;
    max-width: 246px;
    min-height: 155px;
    object-fit: cover;
    margin-top: 2.5rem;
    margin-right: 16%;
    margin-left: auto;
}
/* gototopボタン */
.topBtnWrap {
    position: relative;
}
.goTotop {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 79%;
    transform: translate(0%, -50%);
    right: calc((100% - (1200px + (63px * 2) )) / 2 );
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;   /* ディレイ非表示 */
}
/* ディレイ表示 */
.goTotop.is-show {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s;
}
.goTotop img {
    width: 100%;
    height: auto;
}
/* スムーズ */
html {
  scroll-behavior: smooth;
}
.dolowerMenu, .dolowerLogo {
    display: none;
}

/* モーダル */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1000;
}
.tpModalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1001;
}
.modalBg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1366px;
  height: 605px;
  background: #0f7cbf;
  color: white;
  padding: 40px;
  box-sizing: border-box;
  z-index: 1002;
}
.modalContentWrap {
    max-width: 1200px;
    width: 100%;
    /* border: 1px solid red; */
    margin: 0 auto;
    z-index: 1003;
}
/* ｘボタン */
img.modalClose {
    color: #000000;
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}
#tpModalTitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}
.tpModalInner {
    display: flex;
    gap: 3.75rem;
    margin-top: 20px;
}
.modalImageArea {
    width: 600px;
    height: 468px;
}
#tpModalImg {
    width: 100%;
    height: 100%;
    /* width: 600px; */
    /* aspect-ratio:  600 / 468; */
}
.tpModalText {
    max-width: 500px;
}
/* テキストエリア */
.modalDescArea {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
}
/* 営業時間のラップ */
.modalHoursWrap {
    margin-top: 20px;
}
.modalHoursWrap h3,
.modalHoursWrap ul {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}

/* ここから林様のフッター */
footer{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #007AB7;
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
footer p{
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #03A9F4;
    font-size: 12px;
    padding: 20px 0;
    width: 100%;
    margin-top: 15px;
}
.footerContainer{
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.Flag{
    margin: 40px auto 0;
}
.footer-Flag{
    width: 64px;
    height: 48px;
}
.footerMain{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    width: 100%;
    position: relative;
}
.footerNav {
    list-style: none;
    text-align: left;
    padding-left: 20px;
}
.footerNav li {
    padding: 20px 0 12px;
    width: 332px;
    margin-left: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ffffff;
}
.footerNav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.footerLogo {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
}
.footerLogo img{
    width: 256px;
    height: auto;
    
}
.footerSns{
    display: flex;
    gap: 40px;
    margin-right: 20px;
}
.footerSns img {
    width: 32px;
    height: 32px;
}

/*こっからローディングCSS*/
#loadingLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#007AB7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.8s ease, visibility 0.8s;
}
.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}
.loadingLogo img {
    width: 318px;
    height: auto;
    opacity: 0; 
    animation: jiwaFade 2.5s ease-in-out forwards infinite;
}
@keyframes jiwaFade {
    0% {
        opacity: 0;
        transform: scale(0.95); 
        filter: blur(10px);    
    }
    50% {
        opacity: 1;
        transform: scale(1);   
        filter: blur(0);       
    }
    100% {
        opacity: 0;
        transform: scale(1.05); 
    }
}
.forSP {
    display: none;
}
/* ///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
/////////////////////////////////// */

@media screen and (max-width: 768px) {
.forPC {
    display: none;
}
.forSP {
    display: inline-block;
}
    body {
        font-size: 12px;
    }
    /* 全体のコンテナは375px */
    .tpContainer {
        max-width: 375px;
    }
    /* ヘッダー背景は375px */
    .tpHeaderContainer {
        height: 667px;
        background-position: calc(100% + 40px) center;
    }
    /* ヘッダー内のコンテンツは335px */
    .tpHeaderContentWrap {
        max-width: 335px;
        padding: 0;
    }
    /* メインコンテンツも335px */
    .tpAttractionInnerWrap,
    .tpNightmarketInnerWrap,
    .tpAccessInnerWrap {
        max-width: 335px;
        padding: 1.25rem 1.25rem 2.5rem;
    }
    /* フッターは375px（画面幅いっぱい） */
    footer {
        width: 100%;
    }
    /* フッター内のコンテンツは335px */
    .footerContainer {
        max-width: 335px;
    }
    /* 2カラム→1カラムに */
    .tpJifenMainWrap,
    .tpJifenSubWrap,
    .tpNightmarketWrap,
    .tpAccessCardWrap {
        grid-template-columns: 1fr;
    }
    .tpHeaderlogo {
        width: 111px;
        height: auto;
    }
    .tpSnsWrap {
        flex-direction: column;
        display: flex;
        gap: 20px;
        position: absolute;
        bottom: 70px;
    }
    .snsLogo {
        width: 32px;
        height: auto;
    }
    .tpCatchphrase {
        width: 247px;
        font-size: 12px;
        line-height: 1.6;
        font-weight: 700;
        right: 0;
        word-break: break-word;
        overflow-wrap: break-word;
    }
    .tpMainlogo {
        max-width: 199px;
        height: 372px;
        position: absolute;
        top: 46%;
        left: 46%;
        transform: translate(-41%, -51%);
    }
    .tpHeaderlogo {
        width: 111px;
        height: auto;
    }
    .pannWrap {
        max-width: 335px;
        margin: 0.5rem auto;
        padding-left: 0;

    }
    .pann {
        max-width: 335px;
        width: 100%;
        margin: 0 auto;
    }
    h2.sectionTitle{
        display: block;
        font-size: 24px;
        padding: 12px 32px 12px;
        width: 220px;
        margin: 0 auto;
    }
    h2 .sectionSubTitle {
        font-size: 12px;
        width: fit-content;
        text-align: center;
        margin-left: 0;
    }
    .tpH3 {
        font-size: 24px;
        margin-top: 40px;
        text-align: center;
    }
    .tpJifenMainWrap {
        gap:1.25rem
    }
    .imageArea {
        width: 100%;
        height: 221px;
        min-height: 0;
    }
    .tpJifenMainWrap p {
        background-color: rgba(108, 186, 216, 0.2);
        font-size: 12px;
        margin: 0 auto;
        padding: 0.5rem 2.25rem;
    }
    /* 下の方 */
    .tpJifenSubWrap {
        gap: 1.25rem;
        margin-top: 1.25rem;
    }
    /* 画像２こを包んでるdivやつ */
    .tpJifenSubimageWrap {
        gap: 1.25rem;
        height: 225px;
    }
    .imageDivFirst,
    .imageDivSecond {
        width: 137.5px;
        height: 225px;
    }
    /* 下のテキストやつ */
    .tpJifenSubtextWrap {
        padding: 8px 0;
    }
    .tpJifenSubWrap p {
        font-size: 12px;
        padding: 0;
    }
    .tpJifenSubtextWrap .tpJifenSubtextTime {
        margin-top: 0.5rem;
    }
    /* センターライン */
    /* 九份,台北ライン */
    .tpJifenContentWrap::after,
    .tpTaipei101ContentWrap::after,
    .line::after {
        width: clamp(200px, 40%, 480px);
        margin: 2.5rem auto 0;
    }

    .tpPConlyText {
        display: none;
    }
    .comma::after {
        content: "、";
    }
    /* ナイトマーケットエリア */
    /* 見出しを右に */
    .tpNightmarketHeading{
        margin: 0 auto;
    }
    .tpNightmarketWrap {
        gap: 0;
        margin-top: 3.75rem;
    }
    .nightmarketTextArea {
        width: 223px;
        height: 158px;
        padding: 0.75rem 0;
        margin: 0 auto;
    }
    p.tpNightmarketInfo {
        width: 100%;
        font-size: 12px;
        margin: 0;
    }
    .tpMarketImageKushi {
        width: 183px;
        height: 122px;
        margin-top: 2.5rem;
    }
    /* 4つのフレームを 2×2 で配置 */
    .tpMarketList {
        width: 295px;
        height: 128px;
        gap: 2rem;
        margin-top: 1.25rem;
    }
    .tpNightmarketBtn  {
        width: 100%;
        height: 48px;
        font-size: 12px;
    }
    /* 右側画像（デザインカンプ比率でトリミング） */
    .tpMarketImage {
        width: 183px;
        height: 122px;
        margin: 1.25rem auto 0;
    }
    /* アクセスエリア */
    .tpAccessInnerWrap {
        padding: 1.25rem 0 3.75rem;
    }
    .movingWrap {
        max-width: 66.6%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0 1rem 40px;
    }
    .tpAccessInfo {
        width: 100%;
        max-width:  192px;
        font-size: 12px;
        margin-top: 2.5rem;
        padding: 0;
    }
    .tpAccessInfo::after {
        width: 116%;
        left: -16px;
        margin-top: 0.75rem;
    }
    h2.tpAccessHeading {
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 0  2.5rem 0.75rem;
    }
    /* アクセスメイン画像 */
    .tpAccessMainImage {
        width: 100%;
        max-height: 134px;
        margin-top: 0;
    }
    /* カードUI系 */
    .tpAccessCardWrap {
        max-width: 223px;
        grid-column-gap: 0;
        margin: 2.5rem auto 0;
    }
    dl.tpAccessCard {
        padding: 0;
    }
    .tpAccessCardWrap dt {
        font-size: 12px;
    }
    .tpAccessCardWrap dd {
    font-size: 12px;
    margin-top: 1.25rem;
    text-align-last: left;
    }
    .tpYuyuCardImage {
        max-width: 95px;
        min-height: 61px;
        margin-top: 1.25rem;
        margin-right: 36%;
    }
    .goTotop {
        width: 48px;
        height: 48px;
        transform: translate(0%, -50%);
        right: calc((100% - (335px + (12px * 2) )) / 2 );
    }

    /* モーダル */
    .modal {
        width: 100%;
        height: 100%;
    }
    .tpModalOverlay {
        width: 100%;
        height: 100%;
    }
    .modalBg {
        max-width: 375px;
        height: auto;
        padding: 2.5rem 0;
    }
    .modalContentWrap {
        max-width: 335px;
        width: 100%;
    }
    /* ｘボタン */
    img.modalClose {
        width: 28px;
        height: 28px;
        top: 8px;
        right: 8px;
    }
    #tpModalTitle {
        width: fit-content;
        font-size: 24px;
        margin: 0 auto;
    }
    .tpModalInner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    .modalImageArea {
        max-width: 335px;
        height: 223px;
    }
    #tpModalImg {
        width: 100%;
        height: 100%;
    }
    .tpModalText {
        max-width: 303px;
        margin: 0 auto;
    }
    /* テキストエリア */
    .modalDescArea {
        font-size: 12px;
    }
    /* 営業時間のラップ */
    .modalHoursWrap h3,
    .modalHoursWrap ul {
        font-size: 12px;
    }

    /*こっからSPフッター*/
    .footer{
        width: 100%;
        max-width: 375px;
        height: auto;
    }
    .Flag{
        margin: 0 auto;
    }
    .footerContainer .Flag img{
        width: 32px;
        height: 24px;
        margin: 20px auto 2px;
    }
    .footerMain{
        width: 100%;
        height: auto;
        display: block;
    }
    .footerNav{
        display: block;
        position: relative;
        left: auto;
        width: 195px;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }
    .footerNav a{
        display: block;
        font-size: 12px;
    }
    .footerNav li{
        padding: 18px 0 6px;
        margin: 0 auto;
        width: 195px;
    }
    .footerLogo{
        position: static ;
        top: auto;
        left: auto;
        margin: 0;
        padding: 0;
        flex-shrink: 0;
        transform: none;
        width: 71px;
    }
    .footerLogo img{
        width: 71px;
        height: 28px;
        display: block;
    }
    .footerBottomArea{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-left: 0;
        margin: 40px auto 0;
        align-items: center;
        box-sizing: border-box ;
    }
    .footerSns{
        display: flex;
        gap: 20px;
        margin: 0 117px 0 24px;
        width: auto;
    }
    footer p{
        width: 375px;
        font-size: 10px;
        padding: 12px 0;
        margin: 12px 0 0;
    }

    /* ドロワー */
    .dolowerMenu, .dolowerLogo {
        display: block;
    }
    .dolowerLogo {
        width: 101px;
        height: 40px;
        position: relative;
        top: 8px;
        left: 12px;
    }
    .dolowerMenu, .tpLogoNavWrap ul li a {
        font-size: 20px;
    }

    /* ハンバーガーメニュー（仮）ここから▼▼▼ */
    .gMenu ul {
        display: block;
    }
    /* メニューを画面上部に固定表示しています */
    .gMenu {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    }
    /* メニューアイコンを画面右上に固定しています */
    .gMenu .menuIcon {
    cursor: pointer;
    position: fixed;
    right: 33px;
    top: 4px;
    padding-top: 5px;
    height: 20px;
    }
    /* メニューアイコン（三本線）の真ん中の線です */
    .gMenu .menuIcon .navicon {
    background: #ffffff; /* 色は自由に変更可能です */
    display: block;
    height: 2px; /* 太さ */
    width: 31px; /* 長さ */
    font-weight: 700;
    position: relative;
    transition: background .4s ease-out; /* 形が変わる時のアニメーション */
    }
    /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
    .gMenu .menuIcon .navicon::before,
    .gMenu .menuIcon .navicon::after {
    background: #b71b26; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 80%;
    }
    .gMenu .menuIcon .navicon::before {top: 10px; left:3px;} /* 位置を上にずらしています */
    .gMenu .menuIcon .navicon::after {top: -10px; left:3px;} /* 位置を下にずらしています */
    /* 表示されるメニューです */
    .gMenu .menu {
    background-color: rgba(0,0,0,0.9);
    overflow: scroll; /* メニューが長くなった場合スクロールできるようにします */
    transform: translateX(335px); /* ★最初は高さを0にして非表示状態に */
    transition: tranlateX(0) .6s; /* 表示されるときのアニメーション */
    text-align: center;
    }
    /* メニュー部分のデザインです */
    .gMenu .menu li {
        text-align: center;;
    }
    .gMenu .menu li a {
        display: block;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px solid #ffffff;
        width: fit-content;
        margin: 0 auto 20px;
    }

    .gMenu .menu li:first-of-type {
    padding-top: 92px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 60px;
    }
    .liSecond {
        margin-bottom: 40px;
    }
    .liPolicy {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /* チェックボックスは常に非表示です */
    .gMenu .menuBtn {
    display: none;
    }
    /* メニュー本体（右に隠す） */
.gMenu .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 225px;
  background: rgba(0, 0, 0, 0.7);

  transform: translateX(100%); /* 右に隠す */
  transition: transform .6s ease; /* ← 表示速度 */
}

    /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
    .gMenu .menuBtn:checked ~ .menu {
    max-height: 667px; /* ★チェックボックスがオンの時高さをpxにして表示させます */
    transform: translateX(0);

    }
    /* メニューボタンの中央の線を非表示に */
    .gMenu .menuBtn:checked ~ .menuIcon .navicon {background: transparent;}
    .gMenu .menuBtn:checked ~ .menuIcon {
        transform: translateX(0);
        z-index: 9999;
    }
    /* メニューボタンの上下の線を45度傾けて✕印を作ります */
    .gMenu .menuBtn:checked ~ .menuIcon .navicon::before {transform: rotate(-45deg);top: 0;}
    .gMenu .menuBtn:checked ~ .menuIcon .navicon::after {transform: rotate(45deg);top: 0;}
    /* サイトに合わせてオリジナルカスタマイズ */
    .gMenu .menuIcon {
    top: 21px;
    }
    .gMenu .menuIcon .navicon,
    .gMenu .menuIcon .navicon::before,
    .gMenu .menuIcon .navicon::after {
    background: #ffffff;
    }
    /* ↑ハンバーガーメニューここまで▲▲▲ */

    /*こっからローディング*/
    #loadingLayer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:#007AB7;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: opacity 0.8s ease, visibility 0.8s;
    }

    /* JSでこのクラスがついたら消えるようにいたしますわ */
    .loaded {
        opacity: 0;
        visibility: hidden;
        pointer-events: none; /* 下のボタンやリンクを触れるようにしますわよ！ */
    }

    .loadingLogo img {
        width: 318px; /* お好みのサイズに調整してくださいまし */
        height: auto;
        opacity: 0; /* 最初は隠しておきますわ */
        animation: jiwaFade 2.5s ease-in-out forwards infinite;
    }

    /* じわ～っと出てくるアニメーション */
    @keyframes jiwaFade {
        0% {
            opacity: 0;
            transform: scale(0.95); /* 少し小さめから */
            filter: blur(10px);    /* ぼかしを入れるとより「じわっ」としますわ */
        }
        50% {
            opacity: 1;
            transform: scale(1);    /* 等倍へ */
            filter: blur(0);       /* くっきり！ */
        }
        100% {
            opacity: 0;
            transform: scale(1.05); /* 最後に少しだけ大きくして消えますわ */
        }
    }























}

































